/*------ Variables ------*/
:root {
  --base-shade-1: #00a8fa;
  --white-shade-1: #ffffff;
  --white-shade-2: #d7e1f3;
  --black-shade-1: #232323;
  --black-shade-2: #676a8b;
  --grad-color-1: 0, 180, 250;
  --grad-color-2: 21, 120, 255;

  --base-font-size: 1.6rem;

  --heading-font-size-1: 4rem;
  --heading-font-size-2: 3.2rem;
  --heading-font-size-3: 2rem;
  --heading-font-size-4: 1.8rem;

  --border-radius-1: 1rem;
  --border-radius-2: 0.5rem;
}

:root {
  --container-width: 1200px;
  --color-primary: #f6b103;
  --hover-color: #ffc83e;
  --color-secondary: #f6b103;
  --color-tertiary: #6ef1b2;
  --color-body: #5c6185;
  --color-white: #fff;
  --color-black: #000000;
  --color-off-white: #f6f9fb;
  --color-primary-7: rgba(38, 103, 255, 0.07);
  --color-primary-10: rgba(38, 103, 255, 0.1);
  --color-secondary-10: rgba(11, 20, 96, 0.1);
  --color-white-10: rgba(255, 255, 255, 0.1);
  --color-white-60: rgba(255, 255, 255, 0.6);
  --color-white-70: rgba(255, 255, 255, 0.7);
  --color-dark: #151516;
  --color-deep-dark: #0b0b0b;
  --font-nunito: 'Nunito', sans-serif;
  --font-quicksand: 'Quicksand', sans-serif;
}

/*------ Base Styles ------*/
/*------ Utility Classes ------*/


.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.column {
  width: 100%;
}

.primary-btn {
  background-color: var(--base-shade-1);
  color: var(--white-shade-1);
}
.secondary-btn {
  border: 0.3rem solid var(--base-shade-1);
  color: var(--base-shade-1);
}


/*------ Section: Download App ------*/
.download-app .column:nth-child(1) {
  display: flex;
  justify-content: center;
}
.download-app .column:nth-child(2) {
  padding: 0 2rem;
}
.download-app img {
  display: block;
  width: 100%;
}
.app-feature {
  border-bottom: 1.5px dashed rgba(var(--grad-color-1), 0.4);
}
.app-feature:not(:last-child) {
  margin-bottom: 1.5rem;
}
.app-feature div {
  display: flex;
  gap: 2rem;
}
.app-feature p {
  margin-bottom: 1.5rem;
}
.download-app .fas {
  display: inline-block;
  background-color: var(--color-primary);
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  font-size: 2rem;
  text-align: center;
  padding: 1.5rem;
  color: white;
}
.download-app h3 {
  display: inline-block;
  color: #000;
}
.download-btns {
  display: flex;
}
.download-btns a {
  display: inline;
  text-align: center;
}
.download-btns a img {
  display: inline-block;
  width: 70%;
}
